<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
	<h5 class="my-3 border-bottom pb-2">질 문 등 록</h5>
	<form th:object="${findForm}" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

		<div th:replace="~{form_errors :: formErrorsFragment}"></div>

		<div class="mb-3">
			<label for="subject" class="form-label">제 목</label> <input
				type="text" th:field="*{subject}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="content" class="form-label">내 용</label>
			<textarea th:field="*{content}" class="form-control" rows="10"></textarea>

		</div>
		<input type="submit" value="저 장 하 기" class="btn btn-primary my-2">
	</form>
</div>
</html>