<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<form th:action="@{/user/login}" method="post">
		<div th:if="${param.error}">
			<div class="alert alert-danger">사 용 자ID 또 는 비 밀 번 호 를 확 인 해 주 세
				요.</div>
		</div>
		<div class="mb-3">
			<label for="username" class="form-label">사 용 자ID</label> 
			<input type="text" name="username" id="username" class="form-control">
				
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">비 밀 번 호</label>
			<input type="password" name="password" id="password" class="form-control">
				
		</div>
		<button type="submit" class="btn btn-primary">로 그 인</button>
	</form>
</div>
</html>