<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-1">
<!-- 	<div class="my-3 border-bottom">
		<div>
			<h4>PetFinder</h4>
		</div>
	</div> -->
	
	<div >
	<form th:action="@{/user/signup}" th:object="${userCreateForm}"
		method="post">
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>
		<div class="mb-3">
			<label for="username" class="form-label">사 용 자ID</label> 
			<input
				type="text" th:field="*{username}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password1" class="form-label">비 밀 번 호</label> <input
				type="password" th:field="*{password1}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="password2" class="form-label">비 밀 번 호 확 인</label> <input
				type="password" th:field="*{password2}" class="form-control">
		</div>
		<div class="mb-3">
			<label for="email" class="form-label">이 메 일</label> <input
				type="email" th:field="*{email}" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">회 원 가 입</button>
	</form>
	</div>
	
	
</div>


	
	
	
	
	
	</form>


</html>
